{% extends 'books/base.html' %}

{% block title %} Bookstore - {{ book.title }} {% endblock %}

{% block content %}
<h1 class="text-center text-4xl">{{ book.title }}</h1>
<div class="flex justify-center">
    <img src="{{ book.thumbnailUrl }}" alt="{{ book.title }}" width="200">
</div>
<p>{{ book.pageCount }}</p>
<p>{{ book.shortDescription }}</p>
<p>{{ book.longDescription }}</p>
<p class="text-gray-600 mt-4">{{ book.authors|join:", " }}</p>
<div class="mt-10">
    <form method="POST" action="{% url 'books.review' book.id %}">
        {% csrf_token %}
        <textarea class="border rounded p-2 w-full" name="review" id="" rows="5" placeholder="Write your review here"></textarea>
        <button type="submit" class="float-right border rounded p-2 bg-gray-800 text-white">Submit</button>
    </form>
</div>
<div class="mt-10">
    {% for review in reviews %}
        <p>{{ review.body }}</p>
    {% endfor %}
</div>

{% endblock %}